.input {
  background: #4f6367;
  display: flex;
  padding: 5%;
  width: 100%;
  flex-direction: column;
  border-radius: 20px;
  gap: 20px;

  div {
    input {
      width: 100%;
    }
  }

  label {
    color: #fff;
  }

  input {
    padding: 10px 5px;
    border: transparent;
    outline: none;
  }
}

.btn {
  max-width: 200px;
  height: 50px;
  text-align: center;
  align-self: center;
  width: 100%;
  cursor: pointer;
}
